@import url("../styles/palette.css");

.header{
    font-weight: bold;
    font-size: 96px;
    text-align: center;
    align-content: center;
}
.subtitle{
    font-size: 36px;
    text-align: center;
    align-content: center;
}
.container{
    margin-top: 100px;
    margin-bottom: 100px;
}
.joinContainer{
    display: inline-block;
    height: auto;
    width: 50%;
    padding: 0px;
    background-color: var(--viridian-green);
    align-content: center;
    text-align: center;
}
.buttonCenter{
    text-align: center;
}