footer {
    position: relative;
    background-color: #333;
    color: white;
    padding: 16px;
    margin: 0px;
    padding: 32px, 100%;
    width:100%;
    bottom: 0;
    left: 0; 
    height: 7em;
}
body{
    margin:0px;
    padding:0px;
    outline: none;
    border:0;
}
.textCenter{
    text-align: center;
}